.title {
	font-family: 'Poppins', sans-serif;
	color: #4E3FFF !important;
	font-size: 28px;
}

.paragraph {
	font-family: 'Comfortaa', cursive;
	color: #4D4D4D;
	font-size: 20px;
}

.steps-paragraph {
	font-family: 'Comfortaa', cursive;
	color: #4D4D4D;
	font-size: 16px;
}

.sec2 {
	background-color: #594BFF;
}

.btn-primary {
	background-color: #594BFF;
	font-family: 'Comfortaa', cursive;
	border: none !important;
}


.btn-secondary {
	background-color: #F3F2FF;
	color: #594BFF;
	border: none;
	font-family: 'Comfortaa', cursive;
}

.btn-primary:hover {
	background-color: #594BFF;
}

.btn-primary:focus {
	background-color: #594BFF !important;
	outline: 0 !important;
	box-shadow: none !important;
}

.btn-primary:active {
	background-color: #594BFF !important;
}

.btn-secondary:hover {
	background-color: #F3F2FF !important;
	color: #594BFF !important;
}

.btn-secondary:focus {
	background-color: #F3F2FF !important;
	color: #594BFF !important;
	outline: 0 !important;
	box-shadow: none !important;
}

.btn-secondary:active {
	background-color: #F3F2FF !important;
	color: #594BFF !important;
}

.x-link a {
	color: #FF5C5F !important;
}

.x-number {
	color: #FF5C5F;
	font-family: 'Poppins', sans-serif;
}

.x-card {
	background-color: #FFE5E5;
	border-radius: 5px;
	font-style: italic;
}